<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Estoque</title>
</head>

<body>
    <div class="container">
        <div class="btn">
            <button type="button" id="pagina-inicial">Página Inicial</button>
        </div>

        <main>

            <section id="veiculos">
                <h2>Veículos Cadastrados</h2>
                <table>
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Nome</th>
                            <th>Modelo</th>
                            <th>Chassi</th>
                            <th>Motor</th>
                            <th>Transmissão</th>
                            <th>Freios</th>
                            <th>Pneus</th>
                            <th>Rodas</th>
                            <th>Cor</th>
                            <td class="botao-AP">
                                <button id="btn-aprovar">Aprovar</button>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Veículos adicionados aparecerão aqui -->

                    </tbody>
                </table>
            </section>

    </div>
</body>

</html>