<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro</title>
</head>

<body>
    <main>
        <div class="cadastro">
            <h1>Faça seu cadastro</h1>
            <div class="grupo-campos">
                <input type="text" id="nome" placeholder="Nome">
                <input type="date" id="Data_nascimento" placeholder="Data Nascimento">
                <input type="text" id="email_cadastro" placeholder="Email">
                <input type="password" id="password" placeholder="Senha">
                <input type="password" id="password_confimation" placeholder="Confirmar Senha">
                <button id="cadastrar">Cadastrar</button>
            </div>
            <p id="btn-voltar">voltar</p>
        </div>
    </main>
</body>

</html>