<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Login</title>

</head>

<body>
    <main>

        <div class="login">
            <h1>Faça Login</h1>
            <div class="grupo-campos">
                <input type="text" id="email_login" placeholder="Email">
                <input type="password" id="password_login" placeholder=" Senha">
                <button id="Acessar">Acessar</button>
            </div>
            <p id="btn-cadastre-se">
                Cadastre-se
            </p>
        </div>


    </main>
</body>

</html>