<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <main>

        <div class="login">
            <h1>Faça Login</h1>
            <div class="grupo-campos">
                <input type="text" id="email_login" placeholder="Email">
                <input type="password" id="password_login" placeholder=" Senha">
                <button id="Acessar">Acessar</button>
            </div>
        </div>

        <div class="cadastro">
            <h1>Faça seu cadastro</h1>
            <div class="grupo-campos">
                <input type="text" id="nome" placeholder="Nome">
                <input type="date" id="Data_nascimento" placeholder="Data Nascimento">
                <input type="text" id="email_cadastro" placeholder="Email">
                <input type="password" id="password" placeholder="Senha">
                <input type="password" id="password_confimation" placeholder="Confirmar Senha">
                <button id="cadastrar">Cadastrar</button>
            </div>
        </div>
    </main>
</body>

</html>